{% extends 'public_base.html' %}
{% block content  %}

      <div class="container-fluid">
        <h1 class="mt-4">About Us</h1>
        <p>Dog's Dream is the place which connects Dog Owners with Sitters. </p>
          <p>Please Answer:</p>
          <li>Are You <b>NEW</b> on our website?</li>
          <li>Are You either Dog Owner or Sitter?</li>
          <p>If your answers for both questions are <b><i>YES</i></b>, You are in right place!</p>
          <p>Go ahead and become a member of Dog's Dream team</p>
          <ol>You can create your profile either:
          <li> <a href="contact"> Contacting Us</a>  </li>
          <li><a href="login">Registering Yourself Here</a> </li></ol>
      </div>
    <div class="container-fluid">
    <p>After registration our administrator will contact you and he will work with you according to your needs. </p>
    </div>

{% endblock %}
