{% extends 'public_base.html' %}
{% block content  %}
      <div class="container-fluid">
        <h1 class="mt-4">Contact Us</h1>
        <p>If you want to become a member of Dog's Dream please send us email on: dogsdream@gmail.com with
        below information and our administrator will do the rest.</p>
      <ol>
          <li>First Name</li>
          <li>Last Name</li>
          <li>Phone Number</li>
          <li>Street Address</li>
          <li>City</li>
          <li>State</li>
          <li>Zip Code</li>
          <li><p><b>Please add a note if you wish to be register as a sitter or dog owner.</b></p></li>
      </ol>
      </div>
{% endblock %}
