{% extends 'base.html' %}


{% block content %}
<h1>Dog's Dream!</h1>
<form action = '/register'method='POST'>
    <input type='text' id='email' name='email' placeholder='email(login)' maxlength='256'>
    <input type='text' id='password' name='password' placeholder='Password' maxlength='256'>
    <input type='text' id='fname' name='fname' placeholder='First Name' maxlength='256'>
    <input type='text' id='lname' name='lname' placeholder='Last Name' maxlength='256'>
    <input type="number" id='phone' name='phone' placeholder='Phone number' maxlength='10'>
    <input type='text' id='address' name='address' placeholder='Street address' maxlength='256'>
    <input type='text' id='city' name='city' placeholder='City' maxlength='256'>
    <select id='state' name='state' placeholder='State'>
        <option value="AL">AL</option>
        <option value="AK">AK</option>
        <option value="AR">AR</option>	
        <option value="AZ">AZ</option>
        <option value="CA">CA</option>
        <option value="CO">CO</option>
        <option value="CT">CT</option>
        <option value="DC">DC</option>
        <option value="DE">DE</option>
        <option value="FL">FL</option>
        <option value="GA">GA</option>
        <option value="HI">HI</option>
        <option value="IA">IA</option>	
        <option value="ID">ID</option>
        <option value="IL">IL</option>
        <option value="IN">IN</option>
        <option value="KS">KS</option>
        <option value="KY">KY</option>
        <option value="LA">LA</option>
        <option value="MA">MA</option>
        <option value="MD">MD</option>
        <option value="ME">ME</option>
        <option value="MI">MI</option>
        <option value="MN">MN</option>
        <option value="MO">MO</option>	
        <option value="MS">MS</option>
        <option value="MT">MT</option>
        <option value="NC">NC</option>	
        <option value="NE">NE</option>
        <option value="NH">NH</option>
        <option value="NJ">NJ</option>
        <option value="NM">NM</option>			
        <option value="NV">NV</option>
        <option value="NY">NY</option>
        <option value="ND">ND</option>
        <option value="OH">OH</option>
        <option value="OK">OK</option>
        <option value="OR">OR</option>
        <option value="PA">PA</option>
        <option value="RI">RI</option>
        <option value="SC">SC</option>
        <option value="SD">SD</option>
        <option value="TN">TN</option>
        <option value="TX">TX</option>
        <option value="UT">UT</option>
        <option value="VT">VT</option>
        <option value="VA">VA</option>
        <option value="WA">WA</option>
        <option value="WI">WI</option>	
        <option value="WV">WV</option>
        <option value="WY">WY</option>
    </select>
    <input type='number' id='zip' name='zip' placeholder='ZIP Code' maxlength='5'>
    <br>
    <br>
    <select id='reg_type' name='reg_type' placeholder='Registration type'>
        <option value='sitter'>Sitter</option>
        <option value='owner'>Owner</option>
    </select> 
    <br>
    <br>
    <input type="submit" value='Submit'>
</form>
{% endblock %}
