{% extends 'base.html' %}
{% block content  %}
<h1>Dog</h1>
<form>
<table border="1px solid black">
    <tr>
        <th>Name</th>
        <td><input type="text" value="Place Holder"></td>
    </tr>
     <tr>
        <th>Age</th>
        <td><input type="text" value="Place Holder"></td>
    </tr>
     <tr>
        <th>Dog Size</th>
        <td><input type="text" value="Place Holder"></td>
    </tr>
     <tr>
        <th>Pet Owner</th>
        <td><input type="text" value="Place Holder"></td>
    </tr>
</table>
            <a href="/owner/add_dogs"><button type="button" class="btn btn-warning btn-sm">Update</button></a>
    <br>


</form>

{% endblock %}
