{% extends 'base.html' %}


{% block content %}
<h1>Dog's Dream!</h1>
<br></br>

<h3>Welcome: {{ owners.firstName }} <h3>

<h4>Dogs:</h4>

    <table>
        {% for dog in dogs %}
        <tr>
            <td>{{ dog.name }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Would you like to...</h3>
    <form action='/owner/profile' method='POST'>
        <select id='option' name='option' placeholder='Please select an option'>
            <option value='schedule' name='schedule'>Schedule an appointment</option>
            <option value='view_appointments' name='view_appointments'>View your appointments</option>
            <option value='add_dogs' name='add_dogs'>View your dogs</option>
            <option value='view_dogs' name='view_dogs'>View your dogs</option>
        </select>
        <br>
        <input type='submit' value='Submit'>
    </form>

{% endblock %}
