{% extends 'base.html' %}


{% block content %}
<h1>Owners Profile</h1>
<br>

<table border="1px solid black">
    <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Phone number</th>
        <th>Street Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
        <th>email</th>
        <th>password</th>
    </tr>
    <tr>
        <td>Anna</td>
        <td>Smith</td>
        <td>12345</td>
        <td>Street 45</td>
        <td>Almadena</td>
        <td>CA</td>
        <td>12345</td>
        <td>anna@smith.pl</td>
        <td>annasmith</td>
    </tr>
<tr>
        <td>Anna2</td>
        <td>Smith2</td>
        <td>12345</td>
        <td>Street 45</td>
        <td>Almadena</td>
        <td>CA</td>
        <td>12345</td>
        <td>anna@smith.pl</td>
        <td>annasmith</td>
    </tr>
</table>
     <a href="dogs">My Dogs</a>
    <br>
    <div class='view-appointments'>
        <a href="/owner/view_appointments">View Your Requests</a>
    </div>

    <a href="/owner/profile_update">Update Profile</a>
    <br>
    <a href="">Delete profile</a>



{% endblock %}
