{% extends 'base.html' %}

{% block content %}
<h1>Vaccines for specific dog</h1>
<table border="1px solid black">
    <tr>
        <th>Name</th>
    </tr>
    <tr>
        <td>Vaccine 1</td>
<td>
            <a href="/owner/vaccines"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
        </td>
    </tr>
<tr>
        <td>Vaccine 2</td>
<td>
            <a href="/owner/vaccines"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
        </td>    </tr>
<tr>
        <td>Vaccine 3</td>
<td>
            <a href="/owner/vaccines"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
        </td>    </tr>
</table>
    <br>
    <form action='/owner/vaccines' method='POST'>
        <select class='custom-select' placeholder='Please select an option'>
            <option value='schedule' name='schedule'>Vaccine 4</option>
            <option value='view_appointments' name='view_appointments'>Vaccine 5</option>
            <option value='add_dogs' name='add_dogs'>Vaccine 6</option>
        </select>
    <a href="/owner/vaccines"><button type="button" class="btn btn-primary">Add</button></a>
    </form>



{% endblock %}
