{% extends 'base.html' %}

{% block content %}
<h1>Vaccines</h1>
<table border="1px solid black">
    <tr>
        <th>Name</th>
    </tr>
    {% for vaccine in vaccines %}
    <tr>
        <td>{{ vaccine.1 }}</td>
        <td>
            <a href="/owner/vaccines/delete?dogsID={{dog_id}}&vaccineID={{ vaccine.0 }}">
                <button type="button" class="btn btn-danger btn-sm">Delete</button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
    <br>
    <form action='/owner/vaccines' method='POST'>
    <input type="hidden" id="dogsId" name="dogsId" value="{{dog_id}}">
        <select class='form-control' id="newvaccines" name="newvaccines">
            {% for all_vaccine in all_vaccines %}
                <option value="{{ all_vaccine.0 }}">{{ all_vaccine.1 }}</option>
            {% endfor %}
        </select>
            <button type="submit" class="btn btn-primary">Add</button>
    </form>


{% endblock %}
