{% extends 'base.html' %}

{% block content %}
<h1>Your Registered Dogs </h1>

<table class='table table-hover'>
    <thead>
        <tr>
            <th scope='col'>Name</th>
            <th scope='col'>Age</th>
            <th scope='col'>Size</th>
            <th scope='col'>Owner</th>        
            <th scope='col'>Remove?</th>

        </tr>
    </thead>
    <tbody>
    {% for dog in dogs %}
        <tr>
            
            <td>{{dog.name}}</td>
            <td>{{dog.age}}</td>
            <td>{{dog.size}}</td>
            <td>{{dog.petOwner}}</td>
            <td><a href="">Remove dog</a>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}