{% extends 'base.html' %}



{% block content %}
<h1>Dog's Dream!</h1>

<table>
    <tr>
        <th>Dog</th>
        <th>Service</th>
        <th>Sitter</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Recurring?</th>
        <th>Actions</th>
    </tr>
    {% for appointment in appointments %}
    <tr>
        <td>{{appointment.dog}}</td>
        <td>{{appointment.service}}</td>
        <td>{{appointment.sitter}}</td>
        <td>{{appointment.startDate}}</td>
        <td>{{appointment.endDate}}</td>        
        <td>
            <a href="">Update</a>
            <br>
            <a href="">Cancel</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
