{% extends 'base.html' %}

{% block content %}
    <h1>Certifications </h1>
    <table border="1px solid black">
        <tr>
            <th>Name</th>
        </tr>
        {% for certificate in certificates %}
            <tr>
                <td>{{ certificate.1 }}</td>
                <td>
                    <a href="/sitter/certifications/delete?sitterID={{sitter_id}}&certificateID={{ certificate.0 }}">
                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <form action='/sitter/certifications' method='POST'>
        <input type="hidden" id="sitterId" name="sitterId" value="{{sitter_id}}">
        <select class="form-control" id='newcert' name='newcert'>
            {% for all_certificate in all_certificates %}
                <option value='{{ all_certificate.0 }}'>{{ all_certificate.1 }}</option>
            {% endfor %}
        </select>
            <button type="submit" class="btn btn-primary">Add</button>
    </form>


{% endblock %}
