{% extends 'base.html' %}
{% block content  %}
<h1>Sitter Profile </h1>
<form>
<table border="1px solid black">
    <tr>
        <th>Name</th>
        <td><input type="text" value="Place Holder"></td>
    </tr>
     <tr>
        <th>Last Name</th>
        <td><input type="text" value="Place Holder"></td>
    </tr>
     <tr>
        <th>Phone number</th>
        <td><input type="text" value="Place Holder"></td>
    </tr>
     <tr>
        <th>Street Address</th>
        <td><input type="text" value="Place Holder"></td>
    </tr>
     <tr>
        <th>City</th>
        <td><input type="text" value="Place Holder"></td>
    </tr>
     <tr>
        <th>State</th>
        <td><input type="text" value="Place Holder"></td>
    </tr>
     <tr>
        <th>Zip Code</th>
        <td><input type="text" value="Place Holder"></td>
    </tr>
    <tr>
        <th>Password</th>
        <td><input type="text" value="Place Holder"></td>
    </tr>

</table>
            <a href="/sitter/update"><button type="button" class="btn btn-warning btn-sm">Update</button></a>
    <br>
<a href="certifications">Certifications</a>

</form>

{% endblock %}
