{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Add Service</h1>
        <br>
        <form method="POST" action="/jobs/add">
            <div class="form-group">
                <label for="startdate">Start Date</label>
                <input type="date" class="form-control" id="startdate"  name="startdate">
            </div>
            <div class="form-group">
                <label for="enddate">End Date</label>
                <input type="date" class="form-control" id="enddate" name="enddate">
            </div>
            <div>
                <label for="type">Service Type</label>
                <select class="form-control" id="type" name="type">
                    {% for servicestype in servicestypes %}
                        <option value="{{ servicestype.0 }}">{{ servicestype.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="dog">Dog</label>
                    <select class="form-control" id="dog" name="dog">
                    {% for dog in dogs %}
                        <option value="{{ dog.0 }}">{{ dog.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="frequency">Service Frequency</label>
                <select class="form-control" id="frequency" name="frequency">
                    {% for frequency in servicefrequency %}
                        <option value="{{ frequency.0 }}">{{ frequency.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="sitter">Sitter</label>
                <select class="form-control" id="sitter" name="sitter">
                    {% for sitter in sitters %}
                        <option value="{{ sitter.0 }}">{{ sitter.1 }} {{ sitter.2 }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary" value="Submit">Add</button>
        </form>
        <hr/>

        </a>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    </div>
{% endblock %}
