{% extends 'base.html' %}
{% block content  %}
<h1>Administrator view</h1>

    <div class='all_sitters'>
        <a href="/administrator/all_sitters">View Sitters</a>
    </div>

    <div class='all_certifications'>
        <a href="/administrator/full_certifications">View Certifications</a>
    </div>

    <div class='all_jobs'>
        <a href="/administrator/all_jobs">View Jobs</a>
    </div>

     <div class='frequency'>
        <a href="/administrator/frequency">Frequency of services</a>
    </div>
    <div class='types'>
        <a href="/administrator/types">Types of services</a>
    </div>

    <div class='dogSizes'>
        <a href="/administrator/dog_sizes">Dog Sizes</a>
    </div>

    <div class='vaccines'>
        <a href="/administrator/all_vaccines">List of Vaccines</a>
    </div>

    <div class='all_dog'>
        <a href="/administrator/all_dogs">List of dogs</a>
    </div>

    <div class='all_owners'>
        <a href="/administrator/all_owners">List of Owners</a>
    </div>

{% endblock %}
