{% extends 'base.html' %}
{% block content  %}
<div class="container-fluid">
        <h1 class="mt-4">Certification Table</h1>
<table class="table">
  <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
    </tr>
  </thead>
  {% for cert in certs%}
  <tbody>
    <tr>
        <td>{{cert.0}}</td>
        <td>
            <a href="/certification/update"><button type="button" class="btn btn-warning btn-sm">Update</button></a>
            <a href="/certification/delete"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
        </td>
    </tr>
  {% endfor %}
</table>
    <a href="/certification/add"><button type="button" class="btn btn-primary">Add Certification</button></a>
</div>
{% endblock %}
