{% extends 'base.html' %}
{% block content  %}
<div class="container-fluid">
        <h1 class="mt-4">Sitter Table</h1>
<table class="table">
  <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Street Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Zip Code</th>
        <th scope="col">E-mail</th>
        <th scope="col">Password</th>
        <th scope="col">Certification</th>
        <th scope="col">Action</th>
    </tr>
  </thead>
  {% for sitter in sitters %}
  <tbody>
    <tr>
      <td>{{sitter.1}}</td>
      <td>{{sitter.2}}</td>
      <td>{{sitter.3}}</td>
      <td>{{sitter.4}}</td>
      <td>{{sitter.5}}</td>
      <td>{{sitter.6}}</td>
      <td>{{sitter.7}}</td>
      <td>{{sitter.8}}</td>
      <td>{{sitter.9}}</td>
        <td><a href="../sitter/certifications?sitterID={{ sitter.0 }}">Certifications</a></td>
        <td>
            <a href="/sitter/update"><button type="button" class="btn btn-warning btn-sm">Update</button></a>
            <a href="/sitter/delete"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
        </td>
    </tr>
  </tbody>
  {% endfor %}
</table>
    <a href="/add_user"><button type="button" class="btn btn-primary">Add Sitter</button></a>
</div>
{% endblock %}
