{% extends 'base.html' %}
{% block content %}
    <a class="container-fluid">
        <h1 class="mt-4">Services</h1>
        <table class="table">
            <thead>
            <tr>
                <td scope="col">Start Date</td>
                <td scope="col">End Date</td>
                <td scope="col">Service Type</td>
                <td scope="col">Dog</td>
                <td scope="col">Frequency</td>
                <td scope="col">Sitter</td>
                <td scope="col">Action</td>
            </tr>
            </thead>
            {% for job in jobs %}
            <tbody>
            <tr>
                <td>{{job.1}}</td>
                <td>{{job.2}}</td>
                <td>{{job.3}}</td>
                <td>{{job.4}}</td>
                <td>{{job.5}}</td>
                <td>{{job.6}}</td>
                <td>
                    <a href="/jobs/update?id={{ job.0 }}">
                        <button type="button" class="btn btn-warning btn-sm">Update</button>
                    </a>
                    <a href="/jobs/delete?id={{ job.0 }}">
                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                    </a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
            <hr/>
  <a href="/jobs/add"><button type="button" class="btn btn-primary">Add Service</button></a>
    <br>
    <br>
        <a href="/filter"><button type="button" class="btn btn-outline-info">Filter Jobs By Date</button></a>
        <a href="/jobs/assigned"><button type="button" class="btn btn-outline-info">Assigned Jobs</button></a>
        <a href="/jobs/unassigned"><button type="button" class="btn btn-outline-info">Unassigned Jobs</button></a>
<br>
    <br>
    <br>
    <br>

{% endblock %}
