{% extends 'base.html' %}
{% block content  %}
<div class="container-fluid">
        <h1 class="mt-4">Vaccines Table</h1>
<table class="table">
  <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
    </tr>
  </thead>
  {% for vaccine in vaccines %}
  <tbody>
    <tr>
        <td>{{vaccine.0}}</td>
        <td>
            <a href="/vaccines/update"><button type="button" class="btn btn-warning btn-sm">Update</button></a>
            <a href="/vaccines/delete"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
        </td>
    </tr>
  </tbody>
  {% endfor %}
</table>
    <a href="/vaccines/add"><button type="button" class="btn btn-primary">Add Vaccine</button></a>
</div>
{% endblock %}
