{% extends 'base.html' %}
{% block content  %}
<h1>Services Data Base - view for administrator </h1>

<table border="1px solid black">
    <tr>
        <td>Start Date</td>
        <td>End Date</td>
        <td>Service Type</td>
        <td>Dog</td>
        <td>Frequency</td>
        <td>Sitter</td>
        <td>Action</td>
    </tr>
    <tr>
        <td>2020-01-01</td>
        <td>2020-01-02</td>
        <td>Walk</td>
        <td>Sam</td>
        <td>weekly</td>
        <td>Anna Smith</td>
        <td><button type="update">Update</button><button type="button">Delete</button></td>
    </tr>
<<tr>
        <td>2020-01-01</td>
        <td>2020-01-02</td>
        <td>Walk</td>
        <td>Sam</td>
        <td>weekly</td>
        <td>NULL</td>
        <td><button type="update">Update</button><button type="button">Delete</button></td>
    </tr>
</table>
    <h5>Pick up date to list all services</h5>
    <form action='#' method='POST'>
        <input type="date" id='date' placeholder='Pick a date'>
        <br>
        <input type="submit" value="Submit">
    </form>
<h5>List of Services from chosen date:</h5>
    <table border="1px solid black">
    <tr>
        <td>Start Date</td>
        <td>End Date</td>
        <td>Service Type</td>
        <td>Dog</td>
        <td>Frequency</td>
        <td>Sitter</td>
        <td>Action</td>
    </tr>
    <tr>
        <td>2020-01-01</td>
        <td>2020-01-02</td>
        <td>Walk</td>
        <td>Sam</td>
        <td>weekly</td>
        <td>Anna Smith</td>
        <td><button type="update">Update</button><button type="button">Delete</button></td>
    </tr>
{% endblock %}
