{% extends 'base.html' %}

{% block content %}
<h1>Dog Sizes - page visible only for administrator</h1>
<table border="1px solid black">
    <tr>
        <th>Size</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>Smal</td>
        <td><button type="button">Delete</button><button type="button">Update</button></td>

    </tr>
<tr>
        <td>Medium</td>
    <td><button type="button">Delete</button><button type="button">Update</button></td>
    </tr>
<tr>
        <td>Big</td>
    <td><button type="button">Delete</button><button type="button">Update</button></td>
    </tr>

<button type="button">Add new size</button>
</table>
{% endblock %}
