{% extends 'base.html' %}
{% block content  %}
<div class="container-fluid">
        <h1 class="mt-4">Dog Size Table</h1>
<table class="table">
  <thead>
    <tr>
        <th scope="col">Size</th>
        <th scope="col">Action</th>
    </tr>
  </thead>
  {% for size in sizes %}
  <tbody>
    <tr>
        <td>{{size.1}}</td>
        <td>
            <a href="/sizes/update?id= {{ size.0 }}"><button type="button" class="btn btn-warning btn-sm">Update</button></a>
            <a href="/sizes/delete?id= {{ size.0 }}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
        </td>
    </tr>
  </tbody>
  {% endfor %}
</table>
    <a href="/sizes/add"><button type="button" class="btn btn-primary">Add Dog Size</button></a>
</div>
{% endblock %}
