{% extends 'base.html' %}
{% block content %}

            <h3> Filter Services </h3>
            <form action='#' method='POST'>
                <input type="date" id='date' placeholder='Pick a date'>
                <a href="/jobs/filter">
                    <button type="button" class="btn btn-primary btn-sm">Filter</button>
                </a>

            </form>
            <h5>List of services filtered by date </h5>
            <table class="table">
                <thead>
                <tr>
                    <td scope="col">Start Date</td>
                    <td scope="col">End Date</td>
                    <td scope="col">Service Type</td>
                    <td scope="col">Dog</td>
                    <td scope="col">Frequency</td>
                    <td scope="col">Sitter</td>
                    <td scope="col">Action</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2020-01-01</td>
                    <td>2020-01-02</td>
                    <td>Walk</td>
                    <td>Sam</td>
                    <td>weekly</td>
                    <td>Anna Smith</td>
                    <td>
                        <a href="/jobs/update">
                            <button type="button" class="btn btn-warning btn-sm">Update</button>
                        </a>
                        <a href="/jobs/delete">
                            <button type="button" class="btn btn-danger btn-sm">Delete</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
{% endblock %}
