{% extends 'base.html' %}
{% block content %}

            <h3> Filter Services </h3>
            <form action='/jobs/filter' method='GET'>
                <input type="date" id='date' name="date" placeholder='Pick a date'>

                    <button type="submit" class="btn btn-primary btn-sm">Filter</button>


            </form>
            <h5>List of services filtered by date </h5>
            <table class="table">
            <thead>
            <tr>
                <td scope="col">Start Date</td>
                <td scope="col">End Date</td>
                <td scope="col">Service Type</td>
                <td scope="col">Dog</td>
                <td scope="col">Frequency</td>
                <td scope="col">Sitter</td>
                <td scope="col">Action</td>
            </tr>
            </thead>
            {% for job in jobs %}
            <tbody>
            <tr>
                <td>{{job.0}}</td>
                <td>{{job.1}}</td>
                <td>{{job.2}}</td>
                <td>{{job.3}}</td>
                <td>{{job.4}}</td>
                <td>{{job.5}} {{ job.6 }}</td>
                <td>
                    <a href="/jobs/update">
                        <button type="button" class="btn btn-warning btn-sm">Update</button>
                    </a>
                    <a href="/jobs/delete">
                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                    </a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}
