{% extends 'base.html' %}

{% block content %}
<h1>List of all available certifications - page visible only for administrator</h1>
<table border="1px solid black">
    <tr>
        <th>Name</th>
    </tr>
    <tr>
        <td>Certification 1</td>
        <td><button type="button">Delete</button><button type="button">Update</button></td>

    </tr>
<tr>
        <td>Certification 2</td>
    <td><button type="button">Delete</button><button type="button">Update</button></td>
    </tr>
<tr>
        <td>Certification 3</td>
    <td><button type="button">Delete</button><button type="button">Update</button></td>
    </tr>
    <tr>
        <td>Certification 4</td>
    <td><button type="button">Delete</button><button type="button">Update</button></td>
    </tr>
    <tr>
        <td>Certification 5</td>
    <td><button type="button">Delete</button><button type="button">Update</button></td>
    </tr>
    <tr>
        <td>Certification 6</td>
    <td><button type="button">Delete</button><button type="button">Update</button></td>
    </tr>
<button type="button">Add new certification</button>
</table>
{% endblock %}
