{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Update Service</h1>
        <br>
        <form method="POST" action="/jobs/update">
            <input type="hidden" id="id" name="id" value="{{job.0}}">
            <div class="form-group">
                <label for="startDate">Start Date</label>
                <input type="date" class="form-control" id="startDate"  name="startDate" value="{{ job.1 }}">
            </div>
            <div class="form-group">
                <label for="endDate">End Date</label>
                <input type="date" class="form-control" id="endDate" name="endDate" value="{{ job.2 }}">
            </div>
            <div>
                <label for="serviceTypeId">Service Type</label>
                <select class="form-control" id="serviceTypeId" name="serviceTypeId">
                    {% for type in types %}
                        {{ type[0] }}
                        {{ job[3] }}
                        {% if type[0] == job[3] %}
                            <option selected value="{{ type[0] }}">{{ type[1] }}</option>
                        {% else %}
                            <option value="{{ type[0] }}">{{ type[1] }}</option>
                        {% endif %}
                     {% endfor %}
                </select>
            </div>
            <div>
                <label for="dogsId">Dog</label>
                    <select class="form-control" id="dogsId" name="dogsId">
                    {% for dog in dogs %}
                        {{ dog[0] }}
                        {{ job[6] }}
                        {% if dog[0] == job[6] %}
                            <option selected value="{{ dog[0] }}">{{ dog[1] }}</option>
                        {% else %}
                            <option value="{{ dog[0] }}">{{ dog[1] }}</option>
                        {% endif %}
                     {% endfor %}
                </select>
            </div>
            <div>
                <label for="frequencyOfServicesId">Service Frequency</label>
                <select class="form-control" id="frequencyOfServicesId" name="frequencyOfServicesId">
                    {% for freq in frequency %}
                        {{ freq[0] }}
                        {{ job[4] }}
                        {% if freq[0] == job[4] %}
                            <option selected value="{{ freq[0] }}">{{ freq[1] }}</option>
                        {% else %}
                            <option value="{{ freq[0] }}">{{ freq[1] }}</option>
                        {% endif %}
                     {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="sittersId">Sitter</label>
                <select class="form-control" id="sittersId" name="sittersId">
                    <option value="NULL">Unknown</option>
                    {% for sitter in sitters %}
                        {{ sitter[0] }}
                        {{ job[5] }}
                        {% if sitter[0] == job[5] %}
                            <option selected value="{{ sitter[0] }}">{{ sitter[1] }} {{  sitter[2] }}</option>
                        {% else %}
                            <option value="{{ sitter[0] }}">{{ sitter[1] }} {{  sitter[2] }}</option>
                        {% endif %}
                     {% endfor %}

                </select>
            </div>

            <button type="submit" class="btn btn-primary" value="Submit">Update</button>
        </form>
        <hr/>

        </a>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    </div>
{% endblock %}
